/*

Context Site Template
Powered by Super.so

*/

/* Header fonts */
@font-face {
    font-family: 'PP Neue Machina';
    src: url('https://raw.githubusercontent.com/abusubi/fonts/main/header/PPNeueMachina/PPNeueMachina-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/abusubi/fonts/main/header/PPNeueMachina/PPNeueMachina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('https://raw.githubusercontent.com/abusubi/fonts/main/header/PPNeueMachina/PPNeueMachina-Light.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/abusubi/fonts/main/header/PPNeueMachina/PPNeueMachina-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('https://raw.githubusercontent.com/abusubi/fonts/main/header/PPNeueMachina/PPNeueMachina-Ultrabold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/abusubi/fonts/main/header/PPNeueMachina/PPNeueMachina-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* Body fonts */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i');

@font-face {
    font-family: 'PP Telegraf';
    src: url('https://raw.githubusercontent.com/abusubi/fonts/main/body/telegraf/PPTelegraf-UltraLight.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/abusubi/fonts/main/body/telegraf/PPTelegraf-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('https://raw.githubusercontent.com/abusubi/fonts/main/body/telegraf/PPTelegraf-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/abusubi/fonts/main/body/telegraf/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('https://raw.githubusercontent.com/abusubi/fonts/main/body/telegraf/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/abusubi/fonts/main/body/telegraf/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('https://abusubi.github.io/fonts/woff/Merriweather-Regular.woff2') format(woff2),
         url('https://abusubi.github.io/fonts/woff/Merriweather-Regular.woff') format(woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('https://abusubi.github.io/fonts/woff/Merriweather-Light.woff2') format(woff2),
         url('https://abusubi.github.io/fonts/woff/Merriweather-Light.woff') format(woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('https://abusubi.github.io/fonts/woff/Merriweather-Bold.woff2') format(woff2),
         url('https://abusubi.github.io/fonts/woff/Merriweather-Bold.woff') format(woff);
    font-weight: 500;
    font-style: normal;
}


/* Start Page CSS */

html {
    font-size: 16px;
}
@media (max-width: 1024px) {
    html { font-size: 16px; }
}
@media (max-width: 720px) {
    html { font-size: 16px; }
}


/* Dark Mode Variables */
:root {
    --padding-right: calc(env(safe-area-inset-right) + 250px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 250px) !important;
    --transition: all .12s ease-in 0s !important;
    --navbar-height: 100px !important;
    
    --color-link-headerfooter: rgb(255 248 233)!important;
    --color-link-headerfooter-faded-src: 255, 248, 233!important;
    --color-link-headerfooter-faded: rgb(var(--color-link-headerfooter-faded-src));
    
    --bookmark-opacity: .10 !important;
    
    --color-primary: #B5A794!important;
    --color-border-default: #84726C!important;
    --color-ui-hover-bg: rgba(0,0,0,0.02)!important;
    
    --color-text-default-light: rgba(255,255,255,0.60)!important;
    --color-text-default: #c1c1c1!important;
    --color-text-gray: #626161 !important;
    --color-text-brown: #6a5d53!important;
    --color-text-orange: #EDBD82!important;
    --color-text-yellow: #7E543B!important;
    --color-text-green: #527A6F!important;
    --color-text-blue: #485789!important;
    --color-text-purple: #594C85!important;
    --color-text-pink: #A857A0!important;
    --color-text-red: #C15C66!important;
    
    --color-bg-default: #0d0802!important;
    --color-bg-gray: #9da5bb!important;
    --color-bg-brown: #483234!important;
    --color-bg-orange: #D9B9A0!important;
    --color-bg-yellow: #000000!important;
    --color-bg-green: #7D958D!important;
    --color-bg-blue: #646B81!important;
    --color-bg-purple: #736D88!important;
    --color-bg-pink: #A68EA7!important;
    --color-bg-red: #AE7B82!important;
    --color-notif-bg: #865336!important;

    --color-bg-gray-light: var(--color-bg-gray)!important;
    --color-bg-brown-light: var(--color-bg-brown)!important;
    --color-bg-orange-light: var(--color-bg-orange)!important;
    --color-bg-yellow-light: var(--color-bg-yellow)!important;
    --color-bg-green-light: var(--color-bg-green)!important;
    --color-bg-blue-light: var(--color-bg-blue)!important;
    --color-bg-purple-light: var(--color-bg-purple)!important;
    --color-bg-pink-light: var(--color-bg-pink)!important;
    --color-bg-red-light: var(--color-bg-red)!important;
    
    --color-pill-default: rgba(var(--color-link-headerfooter-faded-src), 0);
    --color-pill-gray: rgba(165,170,184,0.7)!important;
    --color-pill-brown: rgba(147,134,135,0.7)!important;
    --color-pill-orange: rgba(217,185,160,0.7)!important;
    --color-pill-yellow: rgba(232,208,166,0.7)!important;
    --color-pill-green: rgba(125,149,141,0.7)!important;
    --color-pill-blue: rgba(100,107,129,0.7)!important;
    --color-pill-purple: rgba(115,109,136,0.7)!important;
    --color-pill-pink: rgba(166,142,167,0.7)!important;
    --color-pill-red: rgba(174,123,130,0.7)!important;
    
    --column-spacing: 32px;

    --p-dark-mode-weight: 200 !important;
    --p-dark-mode-spacing: .06rem !important;
}

/* Fade in animation */

::selection {
    background-color: #7E543B90;
}
::-moz-selection { /* Code for Firefox */
    background-color: #7E543B90;
}

body {
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
    font-family: 'pp telegraf', Inter,Helvetica,Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,sans-serif;
    -webkit-font-smoothing: antialiased !important;
}


h1, h2, h3,
.notion-column-list,
.notion-collection,
.notion-divider {
    -webkit-animation: fadeInUp 1s !important;
    -moz-animation: fadeInUp 1s !important;
    animation: fadeInUp 1s !important;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@-moz-keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@-webkit-keyframes fadeInUp { 0% { transform: translate3d(0,40px,0); } 100% { transform: translate3d(0,0,0); } }
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

/* Hides certain elements */
.notion-page__icon,
.notion-toggle.bg-gray,
.notion-header__content,
.notion-property__title__icon-wrapper,
.notion-breadcrumb__divider,
.notion-breadcrumb__item,
.notion-page__properties {
    display: none !important;
}

/* Always show the page title */
.notion-navbar a[href="/"] {
    display: flex !important;
}

.highlighted-background.bg-yellow {
    position: static!important;
    background-color: var(--color-notif-bg)!important;
    padding-top: 0.2rem!important;
    padding-left: 1px !important;
    -moz-border-radius: 1.88rem!important;
    border-radius: 1.88rem!important;
    width: 1.5rem!important;
    height: 1.5rem!important;
    text-align: center!important;
    color: #000!important;
    font-size: .8rem!important;
    display: inline-block!important;
    vertical-align: middle!important;
    margin-left: 0px !important;
    -webkit-font-smoothing: auto;
    font-weight: 400;
}

/* -------- NEW NOTIF MODAL -------- */


#notif_container {
    position: fixed !important;
    background-color: var(--color-bg-default) !important;
    border: 1px solid !important;
    border-color: var(--color-notif-bg) !important;
    border-radius:9px !important;
    width:280px !important;
    min-width:280px !important;
    height:100px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    min-height:100px !important;
    right: 25px !important;
    top: 25px !important;
    transform: translateX(+120%);
    -webkit-transform: translateX(+120%);
    z-index: 10000 !important;
}

/* -------- CLOSE IN CSS -------- */

.close {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    width: 10px !important;
    height: 10px !important;
    opacity: 1 !important;
}

/* -------- META ITEMS BEGIN -------- */

.vcenter {
    top: 50%;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

#meta_container {
    position: absolute !important;
    display: flex !important;
    flex-direction: row !important;
    width: 245px !important;
    height: 56px !important;
    padding-left: 22px !important;
}

#icon_container.icon_bg  {
    position: static !important;
    height: 55px !important;
    width: 55px !important;
    min-width: 55px !important;
    background-color: var(--color-notif-bg) !important;
    border-radius: 50% !important;
}

#icon_container.icon_bg img.case_icon {
    position: relative !important;
    width: 26px !important;
    height: 29px !important;
    left: 29% !important;
}


#metadata_container {
    position: relative !important;
    margin: auto auto auto 20px !important;
    align-items: flex-start !important;
    line-height: 17px !important;
    display: inline-block !important;
}

span.marked_read {
    font-family: 'PP Telegraf' !important;
    font-size: 16px !important;
    color: var(--color-primary) !important;
    -webkit-font-smoothing: antialiased !important;
}

span.page_title {
    font-family: 'PP Telegraf' !important;
    font-size: 12px !important;
    color: var(--color-primary) !important;
    letter-spacing: .02rem !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    -webkit-font-smoothing: antialiased !important;
}


span.cases_string {
    font-family: 'PP Telegraf' !important;
    font-size: 12px !important;
    color: var(--color-notif-bg)!important;
    letter-spacing: .02rem !important;
    -webkit-font-smoothing: antialiased !important;
}

span.cases_remaining {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif !important;
    font-weight: bold!important;
    font-size: 12px !important;
    color: var(--color-notif-bg) !important;
    letter-spacing: .02rem !important;
    -webkit-font-smoothing: antialiased !important;
}



/* OLD BADGE
.case-badge {
    position: static;
    padding: .28rem .34rem .06rem .28rem;
    margin-left: .40rem;
    background: #FFC93F;
    color: black;
    border-radius: 100%;
    font-size: 1.21rem;
} */

/* Sizing & spacing */
.max-width,
.super-content,
.notion-navbar {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}
.super-content {
    padding-bottom: 50px !important;
    padding-top: 0px !important;
}
.notion-header__title { padding: 0 !important; }
.max-width { max-width: 100% !important; }
.notion-text__content { padding: 2px 0px;}

/* Misc elements */
.notion-divider { border-bottom: 1px solid var(--color-border-default) !important; }
.notion-image.page-width>figcaption { 
    padding-top: 15px !important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    }
.notion-caption { padding: 12px 0 !important; color: var(--color-text-brown); font-family: 'PP Telegraf'!important; font-weight: normal; }
.notion-pill {
    font-size: .8rem !important;
    padding: 0.2rem 0.4rem 0.1rem .4rem !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: var(--color-border-default) !important;
    border-radius: 0px!important;
    margin-right: 12px!important;
    margin-top: -.69rem !important;
    margin-left: 2px;
    color: var(--color-text-gray) !important;
}

.notion-heading {
    padding: 0px;
}


/* Blog Pages */
#page-case-studies .notion-collection__header {
    display: none !important;
}

div[id^="page-case-studies-"] p .color-gray {
    font-family: 'PP Telegraf' !important;
    font-style: normal !important;
    font-size: .9rem !important;
    font-weight: normal !important;
}

div[id^="page-case-studies-"] p {
    color: var(--color-text-default) !important;
    font-family: 'Merriweather'!important;
    font-weight: 200 !important;
    font-style: normal !important;
    line-height: 1.875rem!important;
    font-size: 1rem!important;
    -webkit-font-smoothing: antialiased!important;
    letter-spacing: normal !important;
}

div[id^="page-case-studies-"] p.notion-text__content { font-style: normal !important; margin-right: 0 !important;
}

div[id^="page-case-studies-"] .notion-heading.bg-gray {
    opacity: 0 !important;
}

/*
div[id^="page-case-studies-"] h2 {
    color: #626161 !important;
    padding-top: 4px !important;
    margin-left: -4px !important;
    padding-bottom: 30px !important;
}
*/

/* sticky qualifier */
div[id^="page-case-studies-"] h2 {
    position: -webkit-sticky!important;
    position: -moz-sticky!important;
    position: -ms-sticky!important;
    position: -o-sticky!important;
    position: sticky!important;
    top: 100px !important;
}

div[id^="page-case-studies-"] h2 .color-gray {
    font-size: 1.2rem!important;
    text-align: left!important;
    color: var(--color-border-default)!important;
    letter-spacing: 1px!important;
    float: left!important;
    white-space: pre-line!important;
    padding-top: 0px!important;
    padding-right: 35px!important;
    line-height: 1.5rem!important;
    width: -moz-available!important;
    width: -webkit-fill-available!important;
    width: -webkit-fill-available!important;
    width: -moz-available!important;
    width: fill-available!important;
} 

div[id^="page-case-studies-"] h2 .color-gray:before {
    content: ' ';
    display: block !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: var(--color-border-default) !important;
    border-bottom: none !important;
    margin-bottom: 15px !important;
    width: 100% !important;
}

div[id^="page-case-studies-"] h2 .color-yellow {
    font-size: .9375rem !important;
    text-align: left !important;
    letter-spacing: 1px !important;
    padding-top: 0px !important;
    padding-right: 35px;
    float: left !important;
    white-space: pre-line !important;
    width: -moz-available !important;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available !important;  /* Mozilla-based browsers will ignore this. */
    width: fill-available !important;
}


div[id^="page-case-studies-"] h2 .color-yellow:before {
    content: ' ' !important;
    display: block !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: var(--color-text-yellow) !important;
    border-bottom: none !important;
    margin-bottom: 15px !important;
    width: 100% !important;
}


div[id^="page-case-studies-"] h3.notion-heading {
    font-size: 1.5rem !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    letter-spacing: 1px !important;
    margin-left: 0px !important;
}

div[id^="page-case-studies-"] .notion-column-list {
    flex-wrap: nowrap !important;
    padding-top: 80px !important;
}

div[id^="page-case-studies-"] .notion-column {
    padding-top: 12px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

/* Footer Case-Studies Selector
div[id^="page-case-studies-"] #block-146beda03eac4563a56080086ba44646 {
    margin-top: 125px !important;
}
*/

div[id^="#page-case-studies"] .notion-heading{ padding-bottom: 0 0 20px 0 !important;
}

div[id^="#page-case-studies"] 

/* Blog Pages Notification Slide */


.slide-inactive {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
}


.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(+120%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(+120%); }
}

#block-case-studies-article a[data-visited="true"]:before {
    content: " ";
    font-size: .81rem!important;
    font-family: system-ui!important;
    color: var(--color-notif-bg)!important;
    font-variant: all-small-caps!important;
    display: block;
    background-size: 103px 15px;
    width: 103px;
    height: 15px;
    background-image: url(https://abusubi.github.io/images/data-visted/Read@2x.png);
}
    
#block-case-studies-article a[data-visited="false"]:before {
    content: " ";
    font-size: .81rem!important;
    font-family: system-ui!important;
    color: var(--color-notif-bg)!important;
    font-variant: all-small-caps!important;
    display: block;
    background-size: 103px 15px;
    width: 103px;
    height: 15px;
    background-image: url(https://abusubi.github.io/images/data-visted/NotRead@2x.png);
}
    
#block-case-studies-article a.notion-link.notion-collection-list__item-anchor {
    margin-left: 9px;
}

#block-case-studies-article .notion-property__title .notion-semantic-string {
    padding: 14px 0px 0px 0px !important;
}

#block-case-studies-article .notion-collection-list__item {
    padding-bottom: .75em;
}


/* Block Pages */
div[id^="page-blocks"] h2 {
    position: sticky !important;
    top: 120px !important;
}

#page-blocks .notion-collection-board {
    grid-template-columns: 1fr 1fr 1fr !important;
}

/* Navbar */
.notion-navbar {
    background: var(--color-bg-default) !important;
    height: var(--navbar-height) !important;
    box-shadow: none !important;
    position: fixed !important;
}
.notion-navbar>a { padding: 0 !important; }
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title { overflow: visible !important; }
.notion-quote {
    padding: 0 var(--padding-right) 0 0 !important;
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    align-items: center !important;
    position: fixed !important;
    font-size: 0.85rem !important;
    z-index: 9999 !important;
    display: flex !important;
    border: none !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
    letter-spacing: 1px !important;
}

/* Text + link elements */
h2, h3, a {
    font-family: 'PP Telegraf',serif!important;
    font-weight: normal!important;
    font-style: normal !important;
}

h1 .color-gray {
    line-height: 2.5rem!important;
    color: var(--color-border-default);
    font-size: 1.2rem!important;
    display: inline-block!important;
    border: 1px solid!important;
    padding: 115px 125px!important;
    font-family: 'pp neue machina'!important;
    font-weight: 200!important;
    -webkit-font-smoothing: antialiased !important;
    letter-spacing: 1px !important;
}

h1 .color-gray:after {
    content: " ''"!important;
    /* width: 1px!important; */
    /* height: 21px!important; */
    /* background: #c1c1c1!important; */
    /* display: inline-block!important; */
    -webkit-animation: cursor-blink 1.5s steps(2) infinite!important;
    animation: cursor-blink 1.5s steps(2) infinite!important;
    /* margin-left: 3px!important; */
    /* position: absolute!important; */
    margin-top: 6px !important;
    font-family: 'Merriweather' !important;
}

h1 .color-gray:before {
    content: "'' "!important;
    /* width: 1px!important; */
    /* height: 21px!important; */
    /* background: #c1c1c1!important; */
    /* display: inline-block!important; */
    -webkit-animation: cursor-blink 1.5s steps(2) infinite!important;
    -webkit-animation: cursor-blink 1.5s steps(2) infinite!important;
    animation: cursor-blink 1.5s steps(2) infinite!important;
    /* margin-left: 3px!important; */
    /* position: absolute!important; */
    margin-top: 6px!important;
    font-family: 'Merriweather' !important;
}

h1 {
    /* line-height: 0rem !important; */
    font-size: 3.9rem!important;
    margin-bottom: 0px!important;
    padding-top: 40px!important;
    font-family: 'Antic Didone'!important;
    font-weight: 300!important;
    -webkit-font-smoothing: antialiased !important;
}



h1 .color-brown {
    line-height: 0px !important;
    color: var(--color-text-brown);
    font-size: 3rem !important;
}

h1 a {
    color: var(--color-primary)!important;
    font-family: 'Noto Serif Display'!important;
    font-style: oblique!important;
    font-weight: 300!important;
    font-size: 3.7rem !important;
    letter-spacing: 0px !important;
}
h2 { font-size: 1.88rem !important; }
h2 .notion-semantic-string .link {color: var(--color-link-headerfooter) !important; }

.notion-quote .notion-semantic-string .link {color: var(--color-link-headerfooter) !important; }
.notion-semantic-string .link { border: none !important; }
.notion-heading { padding-bottom: 20px!important }





.notion-breadcrumb__divider,
.notion-navbar__title,
.notion-toggle,
.notion-to-do,

p, ul, ol {
    font-size: 1.1rem !important;
    
}


p {
    color: var(--color-text-default) !important;
    font-family: 'PP Telegraf' !important;
    font-style: normal !important;
    font-weight: var(--p-dark-mode-weight) !important;
    letter-spacing: var(--p-dark-mode-spacing) !important;
    -webkit-font-smoothing: antialiased !important;
}

p a {
    color: var(--color-primary) !important;
}

p .color-gray {
    font-weight: normal!important;
}

p .color-brown {
    color: var(--color-text-default);
    font-family: 'PP Telegraf';
    font-size: 1.30rem;
    font-weight: normal!important;
    line-height: 0rem;
}

span.highlighted-color.color-pink {
    color: var(--color-notif-bg) !important;
    padding-left: 4px !important;
    margin-top: -15px !important;
    padding-bottom: 10px !important;
    font-size: 0.9356rem !important;
    font-family: "PP Neue Machina" !important;
    letter-spacing: 0.5px !important;
    font-weight: 400 !important;
    animation: 2s ease 0s 1 normal none running fadeInUp !important;
    position: absolute !important;
}

.notion-toggle p,
.notion-collection-table,
.notion-collection-card,
.notion-caption {
    font-size: .9375rem !important;
}



/* Collection list */
.notion-collection-list {
    border: none !important;
    padding: 0 !important;
}
.notion-collection-list__item {
    transition: var(--transition) !important;
    color: var(--color-primary) !important;
    font-size: 2.5rem!important;
    padding: 12px ​0 16px 0 !important;
    opacity: 0.7 !important;
    font-family: 'PP Telegraf', sans-serif !important;
    font-weight: 300 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}
.notion-collection-list__item-content {
    font-family: 'PP Telegraf';
    font-weight: normal;
}

.notion-collection-list__item-property {
    padding: 9px 3px !important;
    line-height: 1.5 !important;
    z-index: 10 !important;
}
.notion-collection-list__item:hover {
    padding-left: 20px !important;
    background: none !important;
    opacity: 1 !important;
}
.notion-property__title .notion-semantic-string>span,
.notion-collection-gallery,
.notion-collection-board {
    border: none !important;
}
.notion-collection-table td,
.notion-collection-table th {
    border: 1px solid var(--color-border-default) !important;
    vertical-align: middle !important;
    padding: 12px 20px !important;
}
.notion-collection-table td:first-of-type,
.notion-collection-table th:first-of-type {
    border-left: 1px solid var(--color-border-default) !important;
}
.notion-collection-table td:last-child,
.notion-collection-table th:last-child {
    border-right: 1px solid var(--color-border-default) !important;
}
.notion-collection-card {
    background: rgba(var(--color-link-headerfooter-faded-src), .05) !important;
    box-shadow: none !important;
}
.notion-collection-card {
    padding: 12px 20px !important;
    font-size: 18px !important;
}
.notion-collection-card__property {
    margin-top: 8px !important;
}
.notion-collection-card__content {
    padding: 0 20px 12px 20px !important;
    font-size: 18px !important;
}
.notion-collection__header {
    margin-bottom: 8px !important;
}
.notion-collection-gallery {
    border: none !important;
}

/* Code block */
.notion-semantic-string .code {
    background: var(--color-border-default) !important;
    color: rgba(255,255,255,0.6) !important;
    display: inline-block !important;
    padding: 8px 16px !important;
    font-size: 16px !important;
    margin: 8px 0 !important;
}

/* Callout block */
.notion-callout {
    margin-bottom: 12px !important;
    padding: 20px !important;
}
.notion-callout__content {
    font-size: 20px !important;
}
.notion-callout__icon {
    align-items: center !important;
    padding-bottom: 4px !important;
    display: flex !important;
}
.notion-callout.bg-gray-light { background: var(--color-border-default) !important; }

/* To-do block */
.notion-to-do__content {
    align-items: center !important;
}
.notion-to-do__icon {
    margin: -2px 2px 0 -6px !important;
    transform: scale(0.7) !important;
}
.notion-checkbox.checked {
    background: var(--color-primary) !important;
    padding: 4px !important;
}

/* Lists */
.notion-bulleted-list,
.notion-numbered-list {
    padding-left: calc(1.5em + -12px) !important;
}
.notion-toggle__summary {
    color: var(--color-primary) !important;
    font-family: 'PP Telegraf';
    margin-right: 10rem!important;
    opacity: .65 !important;
    -webkit-transition-property: opacity .5s !important;
    transition: opacity .5s !important;
}
.notion-toggle__summary:hover  {
    opacity: 1 !important;
}
.notion-toggle__summary:before {
    margin: -1px 4px 0 -4px !important;
    font-size: 1.25em !important;
    -webkit-transform: scale(2,1) !important;
    -moz-transform: scale(2,1) !important;
    -ms-transform: scale(2,1) !important;
    -o-transform: scale(2,1) !important;
    transform: scale(2,1) !important;
}
.notion-toggle__summary:hover:before {
    background: none !important;
}
.notion-toggle__content {
    padding-left: 0px !important;
    padding-top: 10px !important;
}


/* Bookmark block */
.notion-bookmark {
    animation: fadeInUp 2s !important;
    border: 2px solid rgba(var(--color-link-headerfooter-faded-src), var(--bookmark-opacity))  !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    margin: 8px 0;
}

.notion-bookmark>a {
    padding-top: 35px!important;
    padding-right: 40px!important;
    padding-bottom: 35px!important;
    padding-left: 40px !important;
}

div[id^="page-case-studies-"] .notion-bookmark>a {
    padding-top: 25px!important;
    padding-right: 25px!important;
    padding-bottom: 30px!important;
    padding-left: 30px !important;
}

.notion-bookmark>a:hover {
    transition: background .30s ease-in 0s !important;
    background-color: rgba(var(--color-link-headerfooter-faded-src), var(--bookmark-opacity)) !important;
}

.notion-bookmark__cover img {
    border-radius: 6px;
}
    
.notion-bookmark__content {
    padding-top: 0px!important;
    padding-right: 10px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    -webkit-flex: 1.6!important;
    -ms-flex: 1.6!important;
    flex: 1.6!important;
}

.notion-bookmark__description {
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    margin: 8px 0 12px !important;
    overflow: hidden !important;
    line-height: 1.6 !important;
    font-size: 1.15rem !important;
    line-clamp: 2 !important;
    height: auto !important;
}

div[id^="page-case-studies-"] p.notion-bookmark__description {
    -webkit-box-orient: vertical!important;
    -webkit-line-clamp: 2!important;
    display: -webkit-box!important;
    margin: 0px 0px 0px!important;
    overflow: hidden!important;
    line-height: 1.6!important;
    font-size: 1rem!important;
    line-clamp: 2!important;
    height: auto!important;
    font-family: 'PP Telegraf'!important;
    -webkit-font-smoothing: auto !important;
    letter-spacing: 1px !important;
}

/*
div[id^="page-case-studies-"] h5.notion-bookmark__title {
    -webkit-box-orient: vertical!important;
    -webkit-line-clamp: 2!important;
    display: -webkit-box!important;
    margin: 8px 0 12px!important;
    overflow: hidden!important;
    line-height: 1.6!important;
    font-size: 1rem!important;
    line-clamp: 2!important;
    height: auto!important;
    font-family: 'PP Telegraf'!important;
}
    */



.notion-bookmark__link>div {
    margin: 0px 10px 0 0 !important;
}
.notion-bookmark__link p {
    overflow: visible !important;
    font-size: 1rem !important;
}
.notion-bookmark__link {
    display: -webkit-flex;
    display: none;
    -webkit-align-items: center;
    align-items: center;
}
.notion-bookmark__cover {
    height: auto !important;
    flex: 1 !important;
}

.notion-bookmark__title {
    line-height: 59px;
    height: 50px;
    font-size: 1.82rem!important;
}

div[id^="page-case-studies-"] .notion-bookmark__title {
    -webkit-box-orient: vertical!important;
    -webkit-line-clamp: 2!important;
    display: -webkit-box!important;
    margin: 0px 0px 0px!important;
    overflow: hidden!important;
    line-height: 2rem !important;
    font-size: 1rem!important;
    line-clamp: 2!important;
    height: 40px !important;
    font-family: 'PP Telegraf'!important;
}

/* Code block */
.notion-code>pre {
    background: rgba(var(--color-link-headerfooter-faded-src), .05) !important;
    font-size: 14px !important;
    padding: 24px !important;
}
.notion-code code {
    color: var(--color-text-default) !important;
    text-shadow: none !important;
}

/* File block */
.notion-file {
    transition: var(--transition) !important;
}
.notion-file>div {
    padding: 12px 12px 8px !important;
    margin: 0 !important;
}
.notion-file__title {
    font-size: 20px !important;
    line-height: 1 !important;
}

/* Mobile styles */
@media (max-width: 1025px) {
    :root {
        --navbar-height: 60px !important;
        --padding-right: 24px !important;
        --padding-left: 24px !important;
        html font-size: 12px !important;
    }
    
    div[id^="page-case-studies-"] .notion-heading.bg-gray {
        opacity: 0 !important;
    }

    .notion-header {
        width: 100%;
        margin-bottom: 0;
    }

    .notion-header__cover.no-cover {
        max-height: 140px;
        height: 80px;
    }

/* For Future Reference */
/*    h1 { font-size: 36px !important; }*/
/*    h2, .notion-collection-list__item { font-size: 24px !important; }*/
/*    .notion-breadcrumb__divider,*/
/*    .notion-navbar__title,*/
/*    .notion-quote { font-size: 20px !important;}*/
/*    .super-content { padding-top: 40px !important; }*/
/*    .notion-quote {*/
/*        padding: 0 var(--padding-right) 20px var(--padding-left) !important;*/
/*        background: var(--color-bg-default) !important;*/
/*        justify-content: flex-start !important;*/
/*        top: var(--navbar-height) !important;*/
/*        font-size: 24px !important;*/
/*        width: 100% !important;*/
/*    }*/
    
    p .color-gray {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        word-wrap: break-word !important;
        display: block !important;
        width: 100% !important;
        min-width: 1px !important;
    }
    
    /*
    h1, h2, h3, a {
        font-family: 'PP Telegraf', serif !important;
        font-weight: normal !important;
        font-style: normal;
        font-display: swap;
    }
    */
    
    
    #page-blocks .notion-collection-board {
        grid-template-columns: 1fr !important;
    }
    
    .notion-bookmark__title {
        line-height: 22px;
        height: 42px;
        font-size: 1.62rem!important;
        white-space: normal;
        overflow: hidden;
        font-weight: 300;
}

@media (max-width: 720px) {
    :root {
        --navbar-height: 60px !important;
        --padding-right: 24px !important;
        --padding-left: 24px !important;
    }
    h1 { font-size: 2.3rem !important; }
    
    div[id^="page-case-studies-"] h2 .color-gray {
        font-size: .9375rem!important;
        text-align: left!important;
        letter-spacing: 1px!important;
        float: left!important;
        white-space: pre-line!important;
        padding-top: 0px!important;
        padding-right: 0px!important;
        color: var(--color-border-default)!important;
        line-height: 1.5rem!important;
        width: -moz-available!important;
        width: -webkit-fill-available!important;
        width: -webkit-fill-available!important;
        width: -moz-available!important;
        width: fill-available!important;
    }

    p .color-gray {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        word-wrap: break-word !important;
        display: block !important;
        width: 100% !important;
        min-width: 1px !important;
    }
    
    h2, .notion-collection-list__item {
        font-size: 1.62rem !important; 
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
    }
    
    div[id^="page-case-studies-"] p {
        color: var(--color-text-default) !important;
        font-family: 'Merriweather'!important;
        font-weight: 200 !important;
        font-style: normal !important;
        line-height: 1.875rem!important;
        font-size: 1rem!important;
        -webkit-font-smoothing: antialiased!important;
    }
    
    div[id^="page-case-studies-"] p.notion-bookmark__description {
        -webkit-box-orient: vertical!important;
        -webkit-line-clamp: 2!important;
        display: -webkit-box!important;
        margin: 8px 0 12px!important;
        overflow: hidden!important;
        line-height: 1.6!important;
        line-clamp: 2!important;
        height: auto!important;
        font-size: 1rem !important;
    }
    
    
    div[id^="page-case-studies-"] h3 {
        font-family: 'Inter' !important;
        margin-bottom: 1rem !important;
    }
    
    div[id^="page-case-studies-"] h2 {
        position: static !important;
        top: 120px !important;
        color: var(--text-color-gray) !important;
        padding-top: 0px !important;
        padding-bottom: 30px !important;
    }
    
    div[id^="page-case-studies-"] h2.color-gray {
        position: sticky !important;
        top: 96px !important;
        font-size: 1rem!important;
        text-align: left!important;
        /* color: var(--color-text-default)!important; */
        letter-spacing: 1px!important;
        float: left!important;
        white-space: pre-line!important;
        font-family: 'PP Telegraf' !important;
        line-height: 2.1rem !important;
        font-weight: 100 !important;
        padding-top: 0px !important;
        margin-left: -4px !important;
        color: var(--color-text-gray) !important;
        margin-right: 10px !important; 
    }

    
    div[id^="page-case-studies-"] h2 .color-gray:before { content: "" !important; display: block !important; border: 4px solid var(--color-text-gray) !important; border-bottom: none !important; margin-bottom: 15px !important; width: 100% !important;
    }
    
    div[id^="page-case-studies-"] .notion-bookmark>a {
        padding-top: 25px!important;
        padding-right: 25px!important;
        padding-bottom: 25px!important;
        padding-left: 25px!important;
    }
    
    div[id^="page-case-studies-"] .notion-heading.bg-gray {
        display: none !important;
    }
    
    #caseStatus {
        color: var(--color-notif-bg)!important;
    }
    
    .notion-breadcrumb__divider,
    .notion-navbar__title,
    .notion-quote { font-size: 20px !important;}
    .super-content { padding-top: 40px !important; }
    
    .notion-quote {
        padding: 0 var(--padding-right) 20px var(--padding-left)!important;
        background: var(--color-bg-default)!important;
        -webkit-box-pack: start!important;
        -ms-flex-pack: start!important;
        -webkit-justify-content: flex-start!important;
        justify-content: flex-start!important;
        top: var(--navbar-height)!important;
        font-size: .9375rem!important;
        width: 100%!important;
        letter-spacing: 1px !important;
    }
    
    blockquote .notion-semantic-string {
        line-height: 30px !important;
    }
    

    /*
    h1, h2, h3, a {
        font-family: 'PP Neue Machina', serif !important;
        font-weight: normal !important;
        font-style: normal;
        font-display: swap;
    }
    */
    
    h1 .color-gray {
        line-height: 2.2rem!important;
        color: var(--color-border-default);
        font-size: 1.2rem!important;
        display: inline-block!important;
        border: 1px solid!important;
        padding: 35px 29px!important;
        font-family: 'pp neue machina'!important;
        font-weight: 200!important;
        -webkit-font-smoothing: antialiased!important;
        letter-spacing: 1px!important;
    }

    h1 a {
        color: var(--color-primary)!important;
        font-family: 'Noto Serif Display'!important;
        font-style: oblique!important;
        font-weight: 300!important;
        font-size: 2.25rem!important;
        letter-spacing: 0px !important;
    }

    p .color-brown {
        color: var(--color-text-default)!important;
        font-family: 'PP Telegraf'!important;
        font-size: 1.3rem!important;
        font-weight: normal!important;
        line-height: 1.4 !important;
    }

    p, ul, ol {
        font-size: 1rem !important;
    }

    #page-blocks .notion-collection-board {
        grid-template-columns: 1fr !important;
    }
    
    
    .highlighted-background.bg-yellow {
        position: static!important;
        background-color: var(--color-notif-bg)!important;
        padding-top: 0.095rem!important;
        padding-left: 0.03rem!important;
        -moz-border-radius: 1.88rem!important;
        border-radius: 1.88rem!important;
        width: 1.3rem!important;
        height: 1.3rem!important;
        text-align: center!important;
        color: #000!important;
        display: inline-block!important;
        vertical-align: middle!important;
        margin-left: 0px!important;
        -webkit-font-smoothing: auto !important;
        font-weight: 400 !important;
    }
    
    span.highlighted-background.bg-yellow {
        line-height: 1.1rem !important;
        margin-left: -1px !important;
        font-size: .76rem !important;
    }
    
    blockquote .notion-semantic-string {
        line-height: 30px!important;
    }
    
    .notion-bookmark {
        -webkit-animation: fadeInUp 2s!important;
        animation: fadeInUp 2s!important;
        border: 2px solid rgba(var(--color-link-headerfooter-faded-src), var(--bookmark-opacity))!important;
        border-radius: 10px!important;
        overflow: hidden!important;
        margin: 10px 0;
    }
    
    .notion-bookmark>a {
        padding-top: 23px!important;
        padding-right: 20px!important;
        padding-bottom: 23px!important;
        padding-left: 20px!important;
    }
    
    .notion-bookmark__title {
        line-height: 20px!important;
        height: 40px!important;
        font-size: 1.2rem!important;
        white-space: normal !important;
        overflow: hidden!important;
        font-weight: 400!important;
        margin-right: 10px!important;
    }
    
    .notion-bookmark__description {
        -webkit-box-orient: vertical!important;
        -webkit-line-clamp: 2!important;
        display: -webkit-box!important;
        margin: 8px 0 0px!important;
        overflow: hidden!important;
        line-height: 1.2!important;
        font-size: .9rem!important;
        line-clamp: 2!important;
        height: auto!important;
        letter-spacing: auto !important;
    }
    
    .notion-collection-list__item-property {
        padding: 2px 5px !important;
        line-height: 1.5 !important;
        z-index: 10 !important;
    }
    
    
    .notion-collection-list__item {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        padding: 7px 0px;
        margin: 7px 0;
        border-radius: 4px;
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    
    .notion-collection-list {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        overflow-x: hidden;
        padding: 6px 0;
        border-top: 1px solid var(--color-border-dark);
    }
    
    .notion-pill {
        font-size: .8rem!important;
        padding: 0.2rem 0.4rem 0.1rem 0.4rem!important;
        border: 1px!important;
        border-style: solid!important;
        border-color: var(--color-border-default)!important;
        border-radius: 0px!important;
        margin-right: 12px!important;
        margin-top: 0rem!important;
        margin-left: 0px !important;
        color: var(--color-text-gray)!important;
    }
    
    .notion-property__title {
        font-size: 1.7rem !important;
    }
    
    .notion-column {
        display: contents;
    }
    
    .notion-column-list {
        flex-direction: column;
    }
    
    #block-a299798fc12b4acc8ad819f14531beb7 {
        margin-bottom: 25px;
    }
    
    #block-case-studies-article a.notion-link.notion-collection-list__item-anchor {
        margin-left: 4px;
        margin-top: 0;
    }

    .notion-pill:not(.first) {
        display: none;
    }
    
    .notion-collection-list__item:hover {
        padding-left: 0px !important;
        background: none !important;
        opacity: 1 !important;
    }

}